@use "../../variables.module.scss";

.Accordion {
  .accordion-title {
    display: inline-block;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  .accordion-content {
    padding-left: 20px;
    display: none;
  }
  .icon {
    display: inline-block;
    width: 20px;
  }
  .accordion-content.open {
    display: block;
  }
}
